name: Automated Model Training

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run training script
        run: python train.py

      - name: Write metrics to Job Summary
        run: |
          echo "## Lab 2 - Model Evaluation Summary" >> $GITHUB_STEP_SUMMARY
          echo "**Name:** Mohammad Aslam" >> $GITHUB_STEP_SUMMARY
          echo "**Roll No:** 2022BCS0092" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "### Metrics" >> $GITHUB_STEP_SUMMARY
          cat outputs/results.json >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "**Commit:** $GITHUB_SHA" >> $GITHUB_STEP_SUMMARY

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: model-artifact
          path: outputs/model.joblib

      - name: Upload metrics artifact
        uses: actions/upload-artifact@v4
        with:
          name: metrics-artifact
          path: outputs/results.json
